<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog管理后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">操作</h3>
                  </div>
                  <div class="panel-body">
                      <a href="/add_article/" class="btn btn-success">添加新文章</a>
                  </div>
                </div>
        </div>
        <div class="col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>评论数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for article in article_list %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/app01/{{ request.user.username }}/article/{{ article.nid }}">{{ article.title }}</a></td>
                    <td>{{ article.comment_count }}</td>
                    <td>
                        <a href="/edit_article/{{ article.nid }}" class="btn btn-warning">编辑</a>
                        <a href="/delete_article/{{ article.nid }}" class="btn btn-danger">删除</a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>