<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/themes/{{ blog.theme }}">
    <link rel="stylesheet" href="/static/mystyle.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ blog.title }}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="col-md-3">
        {% load my_inclusion %}
        {% left_panel username %}
    </div>
    <div class="col-md-9">
            {% for article in article_list %}
                <div>
                    <h2><a href="/app01/{{ username }}/article/{{ article.nid }}/">{{ article.title }}</a></h2>
                </div>
                <div>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="/media/{{ article.user.avatar }}" target="_blank">
                                <img class="media-object article_avatar" src="/media/{{ article.user.avatar }}" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <span class="media-heading">{{ article.articledetail.content }}</span>
                            ...
                        </div>
                    </div>
                </div>
                <div class="article-footer">
                <span><a href="/app01/{{ article.user.username }}/">{{ article.user.username }}</a></span>发布于 <span>{{ article.create_time|date:'Y-m-d h' }}</span><span class="glyphicon glyphicon-comment">({{ article.comment_count }})</span><span class="glyphicon glyphicon-thumbs-up">({{ article.up_count }})</span>
                </div>
                <hr>
            {% endfor %}
    </div>
</div>


<script src="/static/jquery-3.3.1.min.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>